<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <a href="/" class="logo">Facebook</a>
          <ul class="navbar-links">
            <li><a href="/" class="nav-item">Home</a></li>
            <li><a href="/create_post" class="nav-item">Create Post</a></li>
            <li><a href="/profile" class="nav-item">Profile</a></li>
            <li><a href="/logout" class="nav-item">Logout</a></li>
          </ul>
        </div>
      </nav>
    <div class="profile-container">
        <h2>{{ user.name }}'s Profile</h2>

        <!-- Display Profile Image -->
        {% if user.profile_image_url %}
            <img src="{{ user.profile_image_url }}" alt="Profile Picture" class="profile-image">
        {% else %}
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="Default Profile Picture" class="profile-image">
        {% endif %}

        <p>Email: {{ user.email }}</p>
    </div>  
</body>
</html>
